@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* search bars */
.searchContainer {
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  position: absolute;
  bottom: -40px;
  width: 100%;
  max-width: 1024px;
}

.searchItem {
  display: flex;
  gap: 20;
  /* width: 100%; */
  align-items: center;
}

.searchIcons {
  position: absolute;
  margin-left: 0.4rem;
  font-size: 1rem;
}

/* overlay on images */

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.heroe-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 1rem;
}

.auth-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10rem 0 7rem;
}
/* favourite map image */
.map-overlay {
  width: 100%;
  height: 100%;
  background-color: #3c5062;
  padding: 0 1rem;
}

.transition {
  transition: all 400ms ease-in-out;
}

/* gallery */
.trip {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 150px 100px 100px 100px 100px;
  gap: 15px;
  padding: 0 16px;
  margin-bottom: -10rem;
}

@media (max-width: 680px) {
  .trip {
    gap: 4px;
  }
}

.trip div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.trip div:nth-child(1) {
  grid-row: 1/3;
}

.trip div:nth-child(2) {
  grid-row: 1/4;
}

.trip div:nth-child(4) {
  grid-row: 2/4;
}

.trip div:nth-child(5) {
  grid-row: 1/4;
}

.trip div:nth-child(6) {
  grid-row: 2/4;
}

.slider {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  align-items: center;
}

.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg {
  width: 80%;
  height: 80vh;
  object-fit: cover;
}

/* mobile side bar menu */

.mobile-toggler {
  font-size: 30px;
  color: #001659;
  cursor: pointer;
  transition: 500ms;
  margin-right: 0px;
}

.mobile-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  left: e;
  width: 100vw;
  height: 100vh;
  opacity: e;
  transform: translateX(-50e);
  transform-origin: right center;
  transition: all 900ms ease-in-out, opacity 500ms linear,
    visibility 500ms ease-in;
}

.mobile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  cursor: pointer;
}

.mobile-nav_content {
  width: 60%;
  z-index: e;
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.left0 {
  left: 0;
}

.left-100 {
  left: -150%;
}

/* calendar */
.date {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 2.2rem;
  box-shadow: 1px 4px 7px 4px rgba(20, 20, 20, 0.4);
  z-index: 5;
}

.date-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.options {
  position: absolute;
  top: 0;
  right: 8rem;
  background: white;
  color: gray;
  border-radius: 5px;
  box-shadow: 1px 4px 7px 4px rgba(20, 20, 20, 0.4);
  z-index: 1;
}

.btn-disabled:disabled {
  cursor: not-allowed;
}

/* teams */
.team-container {
  height: 100%;
  width: 100%;
  padding: 9rem 0;
  transition: 0.3s;
}

.team-container:hover {
  padding: 5rem 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 600ms ease-in-out;
}

.overl {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8rem 0;
}

/* teams content */
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item p {
  margin: 0 1.5rem;
}

.item:nth-child(even) {
  flex-direction: row-reverse;
}

.item .left {
  flex: 1;
  padding: 0 1rem;
}

.item .right {
  flex: 1;
}

.item .left .img img {
  transition: var(--transition);
}

.item:hover .left .img img {
  transform: scale(1.1);
  z-index: 1;
}

.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  position: absolute;
  bottom: 0px;
}

@media (max-width: 1209px) {
  .price-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .price-container {
    position: relative;
  }
}

@media (max-width: 839px) {
  .price-container {
    position: relative;
  }
}

@media (min-width: 839px) {
  .hotelList-card-container {
    flex-direction: row;
    gap: 2.5rem;
  }
}

@media (max-width: 839px) {
  .hotelList-card-container h2,
  .hotelList-card-container h1,
  .hotelList-card-container p,
  .hotelList-card-container span {
    padding-left: 1rem;
  }
}

/* spinner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  margin-left: 50%;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(17, 24, 39, 1);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* .dropdown_menu {
  display: block;
  padding: absolute;
  left: 0;
  top: 100%;
  background: black
}

.dropdown_menu ul {
  display: block;
  margin: 10px
}

.dropdown_menu ul li {
  width: 140px;
  padding: 10px
} */

/* menu dropdown on navbar */
.dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* color: aliceblue; */
  min-width: 130px;
  background-color: rgb(31, 41, 55);
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scaleY(0) translateZ(100px);
  transform: scaleY(0) translateZ(100px);
  -webkit-transition: opacity 200ms ease, visibility 200ms ease,
    -webkit-transform 400ms ease;
  transition: opacity 200ms ease, visibility 200ms ease,
    -webkit-transform 400ms ease;
  transition: opacity 200ms ease, visibility 200ms ease, transform 400ms ease;
  transition: opacity 200ms ease, visibility 200ms ease, transform 400ms ease,
    -webkit-transform 400ms ease;
  z-index: 99;
}

.dropdown ul {
  margin-top: 8px;
}

.dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1) translateZ(0px);
  transform: scaleY(1) translateZ(0px);
}

.dropdown ul li {
  /* flex: 1 1 100%; */
  /* width: 100%; */
  display: block;
  color: inherit;
  text-align: center;
  font-size: 16px;
  /* line-height: 28px;x */
  /* font-weight: 500; */
  padding: 10px 0px;
  transition: 500ms;
}

.dropdown ul li:hover {
  color: white;
  font-weight: 600;
}

.lines {
  width: 30%;
  height: 45px;
  position: relative;
}

.lines::after,
.lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: rgb(21 128 61);
  width: 43%;
  top: 40%;
}

.lines::after {
  left: 0;
}

.lines::before {
  right: 0;
}

@media screen and (min-width: 1050px) {
  .navIconsToggle {
    display: none;
  }
  .navTelephone {
    display: flex;
  }
  .navMobileVisibility {
    display: none;
  }
}

/* basket modal */
@media screen and (max-width: 600px) {
  .modalInputs {
    display: flex;
    flex-direction: column;
  }
}

/* basket quantity */
.amount-container {
  position: absolute;
  top: -0.9rem;
  right: -0.9rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: rgba(17, 24, 39, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-amount {
  color: white;
  margin-bottom: 0;
  font-size: 0.7rem;
}

/* single hotel tabs */
.singleHotelActive {
  background: rgba(31, 41, 55, 1);
}

/* tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  /* border: 1px solid gray; */
  /* background-color: black; */
  color: #fff;
  text-align: center;
  /* border-radius: 6px; */
  padding: 1px 15px;
  font-size: 0.7rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  right: -50%;
  /* margin-left: -60px; */
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scaleY(0) translateZ(100px);
  transform: scaleY(0) translateZ(100px);
  -webkit-transition: opacity 200ms ease, visibility 200ms ease,
    -webkit-transform 400ms ease;
  transition: opacity 200ms ease, visibility 200ms ease,
    -webkit-transform 400ms ease;
  transition: opacity 200ms ease, visibility 200ms ease, transform 400ms ease;
  transition: opacity 200ms ease, visibility 200ms ease, transform 400ms ease,
    -webkit-transform 400ms ease;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  -webkit-transform: scaleY(1) translateZ(0px);
  transform: scaleY(1) translateZ(0px);
  /* transition: opacity 200ms ease, visibility 200ms ease, transform 400ms ease, -webkit-transform 400ms ease; */
}

/* top hotel carousel */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  font: inherit;
  width: 30px;
  height: 30px;
  line-height: 50px;
  background: rgba(127, 29, 29, 1) !important;
  border-radius: 10px;
  color: #fff !important;
  font-size: 29px;
  font-weight: 700;
  transition: all 200ms linear;
  transition-delay: 0.1s;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  border: 1px solid rgba(17, 24, 39, 1) !important;
  color: black !important;
  background: transparent !important;
}

/* swiper */
.hotelSlider .swiper-button-next,
.hotelSlider .swiper-button-prev {
  color: #eee;
  opacity: 0.4;
  font-size: 1px;
}

.hotelSlider .swiper-button-next:hover,
.hotelSlider .swiper-button-prev:hover {
  color: #fff;
}

/* responsive breakpoint for wishlist item */
@media screen and (max-width: 1023px) {
  .wishlist-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 740px) {
  .wishlist-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* search button Spinner */
.lds-ring {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 43px;
  height: 18px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 3px solid rgba(185, 28, 28, 1);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgba(248, 113, 113, 1) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* review breakpoint */
@media screen and (max-width: 547px) {
  .review-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (min-width: 548px) {
  .review-content {
    display: flex;
    align-items: center;
  }
}

.custom-paginator {
  width: 100%;
  margin: 20px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-paginator ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-paginator ul li {
  /* display: inline; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.custom-paginator ul li a {
  text-decoration: none;
  color: #000000;
  /* padding: 3px 7px 3px 7px; */
  font-style: normal;
  font-weight: 400;
  /* font-size: 14px; */
  line-height: 19px;
  text-align: center;
}

.custom-paginator ul li.active {
  text-decoration: none;
  /* border-radius: 50%;
  width: 50px;
  height: 50px; */
  background: rgb(127 29 29);
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); */
  /* padding: 3px 7px 3px 7px; */
}

.custom-paginator ul li.active a {
  color: #ffffff;
}

.custom-paginator ul li.disabled {
  pointer-events: none;
}

.custom-paginator ul li.previous.disabled a {
  color: rgba(127, 29, 29, 0.25);
  pointer-events: none;
}

.custom-paginator ul li.next.disabled a {
  color: rgba(127, 29, 29, 0.25);
  pointer-events: none;
}

.custom-paginator ul li.previous a {
  color: rgb(127 29 29);
}

.custom-paginator ul li.next a {
  color: rgb(127 29 29);
}

/* @media (max-width: 991px) {
  .custom-paginator {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */

/* table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.form-input {
  appearance: none;
  border-radius: 2px;
  position: relative;
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(209, 213, 219);
}

.form-input:focus {
  outline: none;
}

/* login-register breakpoint */
@media screen and (min-width: 750px) {
  .login-register {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .register-small-screen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .register-small-screen div {
    max-width: 24rem;
    width: 100%;
  }
}

@layer base {
  body {
    @apply bg-gray;
  }

  img {
    @apply w-full;
  }
}
